main {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}

main h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-third);
}

.vertical-line {
    height: 200px;
    border-left: 1.5px solid var(--color-first);
    margin-top: 10px;
    margin-bottom: 10px
}